<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Médico - Gestão de Fila</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/medico.css">
</head>

<body>

    <div class="painel-medico-container">

        <div class="modulo-card">
            <h2 id="tituloConsultorio">Clínico Geral - Consultório 1</h2>
            <div id="statusConexao" class="paciente-sub"
                style="color: var(--status-sucesso); margin-bottom: 20px; font-weight: 600;">• Online</div>

            <div class="paciente-atual-box">
                <div class="paciente-sub">Paciente da Vez:</div>
                <div id="nomePaciente" class="nome-paciente-actual">Aguardando chamada...</div>

                <div style="margin-top: 15px; text-align: left; display: inline-block;">
                    <div class="paciente-sub" id="docPaciente">CPF/SUS: --</div>
                    <div class="paciente-sub" id="maePaciente">Mãe: --</div>
                    <div class="paciente-sub" id="idadePaciente">Idade: --</div>
                </div>
            </div>

            <div class="controles-acoes">
                <button id="btnChamar" class="btn-medico btn-chamar" onclick="chamarProximo()">CHAMAR PRÓXIMO</button>
                <button id="btnIniciar" class="btn-medico btn-iniciar btn-disabled" onclick="alterarStatus('INICIAR')"
                    disabled>INICIAR ATENDIMENTO</button>
                <button id="btnAusente" class="btn-medico" style="background-color: #fff; color: #000;"
                    onclick="alterarStatus('AUSENTE')" disabled>NÃO COMPARECEU (AUSENTE)</button>
                <button id="btnFinalizar" class="btn-medico btn-finalizar btn-disabled"
                    onclick="alterarStatus('FINALIZADO')" disabled>CONCLUIR ATENDIMENTO</button>
            </div>
        </div>

        <div class="modulo-card">
            <h2>Fila de Espera da Especialidade</h2>
            <div id="containerFila" class="fila-lista">
                <div class="paciente-sub" style="text-align: center; padding: 20px;">Nenhum paciente na fila.</div>
            </div>
        </div>

    </div>

    <script src="/static/js/medico.js"></script>
</body>

</html>