<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Chamadas - Sala de Espera</title>
    <link rel="stylesheet" href="/static/css/tv.css">
</head>

<body>

    <header>
        <h1>PAINEL DE ATENDIMENTO - POSTO DE SAÚDE</h1>
    </header>

    <div class="layout-principal">
        <div class="chamada-container">
            <div class="label-chamada">Paciente Chamado</div>
            <div id="painelNome" class="nome-paciente">Aguardando Chamada...</div>
            <div id="painelSala" class="local-destino" style="display: none;">CONSULTÓRIO --</div>
        </div>

        <div class="historico-container">
            <div class="historico-titulo">Últimas Chamadas</div>
            <div id="listaHistorico" class="historico-lista">
            </div>
        </div>
    </div>

    <script src="/static/js/tv.js"></script>
</body>

</html>